@import "../../../Styles/_common.scss";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,700;1,600&family=Montserrat:wght@100&family=Nunito+Sans:wght@300;600;800&display=swap");

.text-create-user-1 {
  position: relative;
  display: flex;
  width: 160px;
  align-items: center;
  justify-content: center;
  flex-direction: row-reverse;
  cursor: pointer;
  z-index: 4000;
  color: #2d89ff;
  top: 50px;
  left: 100px;
}
.text-create-user-1 h1 {
  margin-left: 20px;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 100;
  font-size: 18px;
  line-height: 32px;
}

.image-doctor-create-user-2 {
  background: transparent;
  position: relative;
  height: 80vh;
  left: 88px;
  top: 20px;
  width: 596px;
  z-index: 2000;
}

.content-create-user-4 {
  background: whitesmoke;
  position: fixed;
  left: 0;
  top: 10%;
  width: 60%;
  height: 100vh;
}

.button-create-user2:enabled {
  align-items: center;
  background: $Blue-primary;
  border: none;
  border-radius: 8px;
  color: $Background-white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 44px;
  justify-content: center;

  padding: 16px 10px;

  width: 402px;
  &:hover {
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.button-create-user2:disabled {
  align-items: center;
  background: #75b2ff;
  border: none;
  border-radius: 8px;
  color: $Background-white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  height: 44px;
  justify-content: center;
  padding: 16px 10px;
  position: relative;
  width: 402px;
}

.number-progress-bar-header-create-user-2 {
  background: transparent;
  color: #c4c4c4;
  position: relative;
  font-family: "Verdana";
  font-size: 16px;
  font-weight: 400;
  left: 85%;
  letter-spacing: 0.15px;
  bottom: 140%;
}
.bar {
  background: #c4c4c4;
  border-radius: 10px;
  height: 16px;
  left: 16%;
  position: relative;
  bottom: 136%;
  width: 410px;
}

.progress-bar {
  animation: Aumentar 5s ease;
  background: $Blue-primary;
  border-radius: 10px;
  height: 100%;
  width: 0%;
}

@keyframes Aumentar {
  0% {
    width: 0%;
  }
  100% {
    width: 0%;
  }
}

.text-header-create-user-2 {
  color: $Black-primary;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  left: 16%;
  position: relative;
  top: -32%;
}

.content-form-number-one-false {
  visibility: hidden;
}
.content-button-create-user-3 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 564px;
}
.second-text-header-create-user-2 {
  color: $Black-secondary;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  left: 16%;
  position: relative;
  width: 452px;
  top: -20%;
}

.inputs-create-user-one {
  left: 60%;
  position: absolute;
  overflow-x: hidden;
  top: 16%;
  width: 500px;
  visibility: visible;
}
.inputs-create-user-one-false {
  visibility: hidden;
}

.button-create-user2-false {
  visibility: hidden;
}
.input-create-user-2 {
  border: 0.1px solid $Black-tertiary;
  border-radius: 3.5px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  height: 45px;
  left: 80px;
  line-height: 24px;
  margin-bottom: 25px;
  padding: 0px 0px 0px 15px;
  position: relative;
  width: 384px;
}

.input-calendar-create-user-2 {
  border: 0.1px solid $Black-tertiary;
  border-radius: 3.5px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  height: 45px;
  left: 80px;
  line-height: 24px;
  margin-bottom: 25px;
  padding: 0px 10px 0px 10px;
  position: relative;
  width: 380px;
}

input:focus {
  border: 0.1px solid $Purple-primary;
  outline: none;
  color: $Black-primary;
}

select {
  color: rgba(0, 0, 0, 0.5);
  border: 0.1px solid $Black-tertiary;
  border-radius: 3.5px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  position: relative;
  font-size: 16px;
  height: 45px;
  left: 80px;
  line-height: 24px;
  margin-bottom: 25px;
  padding: 0px 100px 0px 10px;
  width: 400px;
}
select:focus {
  border: 0.1px solid $Purple-primary;
  outline: none;
}

.content-button-create-user-2 {
  left: -20px;
  position: absolute;
  top: -1250px;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;

  margin: 0;
}
@media (min-width: 1600px) {
  .content-button-create-user-1 {
    left: 60%;
    position: absolute;
    top: 980px;
  }
  .inputs-create-user-2 {
    left: 60%;
    top: 460px;
  }
  .number-progress-bar-header-create-user-2 {
    left: 82%;
    top: 18%;
    position: absolute;
  }
}

.inputs-create-user-two {
  left: 58.5%;
  position: absolute;
  top: 55%;
  width: 500px;
  visibility: visible;
}

.inputs-create-user-two-false {
  visibility: hidden;
}

.content-form-number-two-false {
  visibility: hidden;
}

.content-form-number-two {
  position: relative;
  top: -60px;
}

.bar-step-two {
  background: #c4c4c4;
  border-radius: 10px;
  height: 16px;
  left: 16%;
  position: absolute;
  bottom: 156%;
  width: 410px;
}

.progress-bar-step-two {
  animation: Aumentar-step-two 5s ease;
  background: $Blue-primary;
  border-radius: 10px;
  height: 100%;
  width: 25%;
}

@keyframes Aumentar-step-two {
  0% {
    width: 0%;
  }
  100% {
    width: 25%;
  }
}

.number-progress-bar-header-create-user-2-step-two {
  background: transparent;
  color: #c4c4c4;
  position: absolute;
  font-family: "Verdana";
  font-size: 16px;
  font-weight: 400;
  left: 85%;
  letter-spacing: 0.15px;
  bottom: 160%;
}
.text-header-create-user-2-step-two {
  color: $Black-primary;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  left: 16%;
  line-height: 24px;
  position: absolute;
  top: -48%;
}
.second-text-header-create-user-2-step-two {
  color: $Black-secondary;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  left: 16%;
  position: absolute;
  width: 452px;
  top: -34%;
}

.button-create-user2-step-two-false {
  visibility: hidden;
}

.bar-step-three {
  background: #c4c4c4;
  border-radius: 10px;
  height: 16px;
  left: 16%;
  position: absolute;
  bottom: 156%;
  width: 410px;
}

.progress-bar-step-three {
  animation: Aumentar-step-three 15s ease;
  background: $Blue-primary;
  border-radius: 10px;
  height: 100%;
  width: 65%;
}

@keyframes Aumentar-step-three {
  0% {
    width: 25%;
  }
  100% {
    width: 65%;
  }
}

.content-form-number-three-false {
  visibility: hidden;
}

.content-form-number-three {
  position: relative;
  top: 20px;
}

.inputs-create-user-three {
  left: 58.5%;
  position: absolute;
  top: 45%;
  width: 500px;
  visibility: visible;
}

.inputs-create-user-three-false {
  visibility: hidden;
}

.content-create-user-4-modal {
  background: rgba(0, 0, 0, 0.6);

  position: relative;
  height: 116%;

  width: 600%;
}
.content-create-user-4-modal-false {
  visibility: hidden;
}
.second-text-header-create-user-2-step-three {
  color: $Black-secondary;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  left: 16%;
  position: absolute;
  width: 452px;
  top: -30%;
}

.bar-step-four {
  background: #c4c4c4;
  border-radius: 10px;
  height: 16px;
  left: 16%;
  position: absolute;
  bottom: 156%;
  width: 410px;
}

.progress-bar-step-four {
  animation: Aumentar-step-four 16s ease;
  background: $Blue-primary;
  border-radius: 10px;
  height: 100%;
  width: 100%;
}

@keyframes Aumentar-step-four {
  0% {
    width: 65%;
  }
  100% {
    width: 100%;
  }
}

.second-text-header-create-user-2-step-four {
  color: $Black-secondary;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;

  left: 16%;
  position: absolute;
  width: 402px;
  top: -20%;
}

.content-form-number-four-false {
  visibility: hidden;
}

.content-form-number-four {
  position: relative;
  top: 90px;
}

.inputs-create-user-four {
  left: 58.5%;
  position: absolute;
  top: 40%;
  width: 500px;
  visibility: visible;
}

.inputs-create-user-four-false {
  visibility: hidden;
}

.button-create-user2-step-Three:enabled {
  align-items: center;
  background: $Blue-primary;
  border: none;
  border-radius: 8px;
  color: $Background-white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 44px;
  justify-content: center;
  padding: 16px 10px;
  position: absolute;
  top: 90px;
  width: 402px;
  &:hover {
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.button-create-user2-step-Three:disabled {
  align-items: center;
  background: #75b2ff;
  border: none;
  border-radius: 8px;
  color: $Background-white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  height: 44px;
  justify-content: center;
  padding: 16px 10px;
  position: relative;
  top: 90px;
  width: 402px;
}
.button-create-user2-step-two:enabled {
  align-items: center;
  background: $Blue-primary;
  border: none;
  border-radius: 8px;
  color: $Background-white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 44px;
  justify-content: center;
  padding: 16px 10px;
  position: absolute;
  top: -40px;
  width: 402px;
  &:hover {
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.button-create-user2-step-two:disabled {
  align-items: center;
  background: #75b2ff;
  border: none;
  border-radius: 8px;
  color: $Background-white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  height: 44px;
  justify-content: center;
  padding: 16px 10px;
  position: relative;
  top: -40px;
  width: 402px;
}
.button-create-user2-step-four:enabled {
  align-items: center;
  background: $Blue-primary;
  border: none;
  border-radius: 8px;
  color: $Background-white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  height: 44px;
  justify-content: center;
  padding: 16px 10px;
  position: absolute;
  top: 200px;
  width: 402px;
  &:hover {
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}

.button-create-user2-step-four:disabled {
  align-items: center;
  background: #75b2ff;
  border: none;
  border-radius: 8px;
  color: $Background-white;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  height: 44px;
  justify-content: center;
  padding: 16px 10px;
  position: relative;
  top: 200px;
  width: 402px;
}

.content-modal {
  background-color: white;
  width: 485px;
  height: 380px;
  position: absolute;
  top: 20%;
  left: 35%;
  border-radius: 8px;
  z-index: 7000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.background-modal {
  width: 100%;
  height: 116%;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  left: 0;
  z-index: 4000;
  top: -5%;
}

.background-modal-false {
  visibility: hidden;
}

.img-modal {
  width: 58.63px;
  height: 44.7px;
}

.title-modal {
  color: $Black-primary;
  font-family: "Verdana", sans-serif;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  top: 25px;
}

.subtitle-modal {
  color: $Black-secondary;
  font-family: "Verdana", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  top: 25px;
}

.button-modal-step-one {
  color: $Blue-primary;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  top: 25px;
}

.circle-create-user-init {
  background-color: $Blue-primary;
  border-top-left-radius: 560px;
  border-top-right-radius: 590px;
  position: absolute;
  height: 57%;
  left: -15%;
  top: 43%;
  width: 89%;
}
.circle-second-create-user-init {
  background-color: $Blue-primary;
  border-top-right-radius: 500px;
  box-shadow: 0px 4px 10px rgba(0.7, 0.7, 0.7, 0.4);
  border-top-left-radius: 500px;
  height: 49%;
  position: absolute;
  left: -9%;
  top: 51%;
  width: 74%;
}
