.doctor-home-pacient-none-exams {
  width: 50%;
  height: 100vh;
  position: relative;
}
.content-text-home-pacient-none-exams {
  position: absolute;
  top: 36%;
  left: 55%;
}
.subtitle-home-pacient-none-exams {
  font-family: "Verdana";
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 24px;
  width: 580px;
  margin-top: -40px;
}
.subtitle1-home-pacient-none-exams {
  position: absolute;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  top: 81.4%;
  left: 25.6%;
}
