@import "../../Styles/_common.scss";

.content-img {
  width: 50%;
}

.size-doctor {
  position: absolute;
  width: 656px;
  height: 100%;
  left: 30px;
}
.circle {
  background-color: $Blue-primary;
  position: absolute;
  width: 64%;
  height: 65%;
  border-top-right-radius: 650px;
  border-top-left-radius: 500px;
  top: 290px;
  left: -200px;
}
.circle-second {
  background-color: $Blue-primary;
  box-shadow: 0px 4px 10px rgba(0.7, 0.7, 0.7, 0.4);
  width: 820px;
  height: 436px;
  border-top-right-radius: 500px;
  border-top-left-radius: 500px;
  position: absolute;
  top: 371px;
  left: -220px;
}

.content-home {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 90vh;
}

.content-login {
  position: absolute;
  left: 818px;
  top: 99px;
  display: flex;
  flex-direction: column;
}
.content-login-title {
  position: absolute;
  top: 103px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 32px;
  left: 100px;
}

.content-inputs {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 350px;
  left: 100px;
  width: 300px;

  &:focus {
    outline: none;
    border-bottom: 0.1px solid $Blue-primary;
  }
}

.subtitle {
  width: 452px;
  height: 96px;
  font-size: 20px;
  color: $Black-secondary;
  font-weight: 400;
  position: absolute;
  top: 60px;
}

.title {
  width: 190px;
  height: 24px;
  font-size: 30px;
  color: $Black-primary;
  font-weight: 700;
}

.input-name {
  border: 0.1px solid $Black-primary;
  height: 44px;
  width: 320px;
  flex-direction: row;
  border-radius: 3.5px;
  position: relative;
  top: -23px;
  padding: 2px 2.5rem;
}

.input-name:focus {
  outline: none;
  border: 0.1px solid $Blue-primary;
}

.input-name:focus + label {
  transform: translateY(-25px);
  transition: 0.5s;
  font-size: 12px;
  color: $Blue-primary;
  font-weight: 400;
  left: 14px;
}
.input-name:not(:placeholder-shown) + .placeholder-user {
  transform: translateY(-25px);

  font-size: 12px;
  left: 14px;
}
.input-password {
  border: 0.1px solid $Black-primary;
  height: 44px;
  width: 320px;
  flex-direction: row;
  border-radius: 3.5px;
  position: relative;
  top: 23px;
  text-align: left;
  padding: 2px 2.5rem;
}
.input-password:focus + label {
  transform: translateY(-25px);
  font-size: 12px;
  color: $Blue-primary;
  font-weight: 400;
  left: 14px;
}

.input-password:not(:placeholder-shown) + .placeholder-password {
  transform: translateY(-25px);
  font-size: 12px;
  left: 14px;
}

.input-password:focus {
  outline: none;
  border: 0.1px solid $Blue-primary;
}

.button-login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 10px;
  width: 413px;
  height: 44px;
  background: $Blue-primary;
  border-radius: 8px;
  color: $Background-white;
  position: absolute;
  top: 510px;
  left: 100px;
  cursor: pointer;
  border: none;
  &:hover {
    transform: translateY(-2px);
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.1);
  }
}
.text-button {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 200;
  font-size: 20px;
  line-height: 24px;
}
.text-login {
  position: absolute;
  width: 287.04px;
  height: 24px;
  left: 160.37px;
  top: 564px;
  cursor: pointer;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  text-align: center;

  color: #4151b9;
}

.img-input-password {
  bottom: -8px;
  left: 14px;
  position: absolute;
  width: 14px;
  height: 18px;
}

.img-input-user {
  bottom: 90px;
  left: 10px;
  position: absolute;
}

label {
  position: absolute;
  background: white;
  padding: 0 0.5rem;
}

.placeholder-password {
  top: 84px;
  left: 40px;
  font-family: "Verdana";
  font-weight: 400;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}

.placeholder-user {
  top: -8px;
  left: 40px;
  font-family: "Verdana";
  font-weight: 400;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.5s;
}
