// Colors App
$Background-white: #ffffff;
$Black-primary: #3f3f3f;
$Black-secondary: #333333;
$Black-tertiary: #5e5e5e;
$Blue-primary: #2d89ff;
$Purple-primary: #6200ee;

//mixin's
// @mixin box-name {
//   background-color: red;
//   width: 80px;
//   height: 80px;
//   font-size: 20px;
// }
