@import "../../../Styles/_common.scss";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,700;1,600&family=Montserrat:wght@400;500;600;700&family=Nunito+Sans:wght@300;600;800&display=swap");
.size-doctor-create-user-1 {
  background: transparent;
  height: 90%;
  position: absolute;
  top: 10%;
  width: 666px;
}
.size-arrow-create-user-1 {
  left: -60%;
  height: 23.67px;
  position: absolute;
  top: 28%;
  width: 23.67px;
}

.text-create-user-1 {
  color: $Blue-primary;
  cursor: pointer;
  left: 10%;
  position: absolute;
  top: 14%;
}

.text-button-create-user-1 {
  line-height: 32px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 100;
}
.content-texts-create-user-1 {
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  left: 8px;
}

.content-create-user-3 {
  background: whitesmoke;
  left: -1%;
  height: 90%;
  position: absolute;
  top: 10%;
  width: 50%;
}
.title-create-user-1 {
  color: $Black-primary;
  font-family: "Montserrat", sans-serif;
  font-size: 30px;
  font-weight: Bold 700;
  line-height: 32px;
  left: 840px;
  position: absolute;
  top: 300px;
}

.subtitle-create-user-1 {
  color: $Black-secondary;
  font-family: "Verdana";
  font-weight: 400;
  font-size: 18px;
  position: absolute;
  top: 380px;
  left: 59%;
  width: 342px;
  height: 96px;
}

.content-button-create-user-1 {
  left: 52%;
  position: absolute;
  top: 10px;
}

@media (min-width: 1700px) {
  .content-button-create-user-1 {
    margin-left: -8.5%;
    margin-top: -50%;
  }
  .title-create-user-1 {
    left: 57%;
  }
}
