@import "../../../Styles/_common.scss";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,700;1,600&family=Montserrat:wght@400;500;600;700&family=Nunito+Sans:wght@300;600;800&display=swap");

.background-header-home-admin {
  background-color: #ffffff;
  width: 1440px;
  height: 450px;
  position: absolute;
  left: 0;
  top: 82px;
  border-radius: 0 0 80px 0;
  box-shadow: 3px 3px 0 0px rgba(0, 0, 0, 0.1);
}

.doctor-home-admin {
  position: absolute;
  width: 700px;
  height: 550px;
  z-index: 3;
  top: -15.5px;
}

.content-circles-home-admin {
  z-index: 100;
  height: 300px;
  width: 100px;
}

.circle-home-admin {
  background-color: $Blue-primary;
  border-top-left-radius: 270px;
  border-top-right-radius: 280px;
  position: absolute;
  height: 360px;
  left: -66px;
  top: 150px;
  z-index: 1;
  width: 580px;
}
.circle-second-home-admin {
  background-color: $Blue-primary;
  border-top-right-radius: 300px;
  box-shadow: 0px 0px 0px 2px rgba(0.1, 0.1, 0.1, 0.1);
  border-top-left-radius: 250px;
  height: 325px;
  z-index: 2;
  position: absolute;
  left: -50px;
  top: 209px;
  width: 570px;
}

.content-text-header-home-admin {
  width: 600px;
  height: 150px;
  left: 800px;
  top: 180px;
  position: absolute;
  align-items: center;
}

.title-home-admin {
  font-weight: 400;
  font-size: 54px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: $Black-primary;
}
.subtitle-home-admin {
  font-size: 76px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  position: relative;
  top: -30px;
  color: $Black-tertiary;
}

.content-search-filter {
  display: flex;
  // border: 4px solid red;
  height: 100px;
  position: absolute;
  top: 580px;
  width: 1000px;
  left: 180px;
}

.input-home-admin {
  height: 42px;
  width: 950px;
  margin-right: 40px;
  border: none;
  box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.1);
  border-radius: 3.5px;
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.6);
  padding-left: 47px;
}
.input-home-admin:focus {
  border: 0.1px solid $Purple-primary;
  outline: none;
  color: $Black-primary;
}
.icon-filter-home-admin {
  height: 30px;
  width: 30px;
  position: relative;
  top: 5px;
  cursor: pointer;
}
.content-checkbox {
  position: absolute;
  top: 60px;
  display: flex;
  align-items: center;
}
.content-checkbox h1 {
  margin-left: 10px;
}

.input-checkbox-home-admin {
  width: 24px;
  height: 24px;
  position: relative;
  border: 1px solid #e0e0e0;
}
.text-checkbox {
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.15px;
  color: #bdbdbd;
  position: relative;
}

.icon-seacrh-home-admin {
  width: 15.08px;
  height: 15.08px;
  position: absolute;
  top: 15px;
  left: 20px;
}

.content-card {
  width: 70%;
  position: absolute;
  display: grid;
  column-gap: 80px;
  grid-template-columns: repeat(3, 310px);
  top: 92%;
  left: 175px;
}

.floating-button {
  position: absolute;
  cursor: pointer;
  width: 90px;
  height: 90px;
  background-color: #2d89ff;
  top: 650px;
  left: 1330px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.16);
}
.floating-button:hover {
  transform: translateY(-1px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.1);
}

.size-icon-bottom {
  width: 56px;
  height: 43px;
}

.content-modal-home-admin {
  background-color: white;
  width: 648px;
  height: 1200px;
  position: fixed;
  top: 11.8%;
  left: 55%;
  z-index: 3000;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.background-modal {
  width: 100%;
  height: 1200px;
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  left: 0;
  z-index: 2000;
  top: -5%;
}
.content-header-modal {
  width: 85%;
  top: 60px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text-header {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 24px;
  color: $Black-primary;
}

.img-header {
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.content-body-modal {
  width: 85%;
  top: 160px;
  position: absolute;
  display: flex;
  flex-direction: column;
}
.text-body {
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $Black-tertiary;
  position: relative;
  left: 38px;
  bottom: 38px;
  margin-bottom: -12px;
  letter-spacing: 0.15px;
}
.checkbox-text-body {
  border: 1px solid #e0e0e0;
  border-radius: 4px;
  width: 24px;
  height: 24px;
}
.button-modal {
  align-items: center;
  background: $Blue-primary;
  border: none;
  border-radius: 8px;
  color: $Background-white;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  height: 44px;
  justify-content: center;
  width: 100%;
  position: relative;
  top: 0;
}
.content-button-create-user-2 {
  width: 100%;
  position: absolute;
  top: 210%;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0px;
}
.text-alert {
  width: 45%;
  height: 50px;
  left: 380px;
  position: relative;
  display: flex;
  justify-content: center;
  top: 340px;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
