@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,700;1,600&family=Montserrat:wght@100&family=Nunito+Sans:wght@300;600;800&display=swap");
@import "../../../Styles/_common.scss";
.content-inputs-add-exam {
  align-items: center;
  background: #fff;
  display: flex;
  flex-direction: column;
  height: 98vh;
  justify-content: center;
  left: 52%;
  position: relative;
  width: 48%;
}

.content-text-page-add-exam {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 70px;
  position: relative;
  top: 55px;
  width: 386px;
}
.text-header-page-add-exam {
  color: $Black-primary;
  font-family: "Montserrat";
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
}
.text2-header-page-add-exam {
  color: $Black-secondary;
  font-family: "Verdana";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.size-doctor-add-exams-page {
  height: 75%;
  left: 130px;
  position: absolute;
  top: 25%;
  width: 40%;
}
.content-body-add-exams-page {
  padding: 10px;
  position: relative;
  top: 10px;
}
.content-inputs-add-exams {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.select-add-exam {
  border-radius: 3.5px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Verdana";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 45px;
  margin-bottom: 25px;
  width: 100%;
}
.input-add-exam {
  border: 0.1px solid $Black-tertiary;
  border-radius: 3.5px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Verdana";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 42px;
  margin-bottom: 25px;
  width: 98%;
}
.input-add-exam2 {
  border: 0.1px solid $Black-tertiary;
  border-radius: 3.5px;
  color: rgba(0, 0, 0, 0.5);
  font-family: "Verdana";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  height: 218px;
  margin-bottom: 25px;
  text-orientation: sideways;
  width: 378px;
}
textarea:focus {
  border: 0.1px solid $Purple-primary;
  color: black;
  outline: none;
}
.button-add-exams:enabled {
  align-items: center;
  background: $Blue-primary;
  border: none;
  border-radius: 8px;
  display: flex;
  color: $Background-white;
  cursor: pointer;
  height: 44px;
  justify-content: center;
  width: 100%;
  &:hover {
    box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.1);
    transform: translateY(-2px);
  }
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
.button-add-exams:disabled {
  align-items: center;
  background: #75b2ff;
  border: none;
  border-radius: 8px;
  color: $Background-white;
  cursor: pointer;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  height: 44px;
  justify-content: center;
  width: 100%;
}

.background-modal-add-exams {
  align-items: center;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  height: 110%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4000;
}
.background-modal-add-exams-false {
  display: none;
}
.content-modal-add-exam {
  align-items: center;
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 380px;
  justify-content: center;
  width: 485px;
  z-index: 7000;
}

.title-modal-add-exam {
  color: $Black-primary;
  font-family: "Verdana", sans-serif;
  font-size: 30px;
  font-weight: 600;
  position: relative;
  top: 25px;
}
.subtitle-modal-add-exam {
  color: $Black-secondary;
  font-family: "Verdana", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: relative;
  top: 25px;
}
.button-modal-add-exam {
  color: $Blue-primary;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 600;
  position: relative;
  top: 25px;
}
