@import "../../../../Styles/_common.scss";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,700;1,600&family=Montserrat:wght@400;500;600;700&family=Nunito+Sans:wght@300;600;800&display=swap");
.size-doctor-create-user {
  height: 98%;
  left: 2.6%;
  position: absolute;
  top: 1%;
  width: 54%;
}

.texts-button-create-user {
  left: 59.4%;
  position: absolute;
  top: 38%;
}

.content-button-create-user {
  left: 1034px;
  position: absolute;
  top: 114px;
}

.subtitle-create-user-2 {
  color: $Black-secondary;
  font-family: "Verdana";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  flex: none;
  flex-grow: 0;
  height: 8px;
  line-height: 24px;
  left: 2px;
  order: 0;
  position: absolute;
  top: 170px;
  width: 553px;
}

.subtitle-create-user {
  color: $Black-tertiary;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 84px;
  line-height: 117px;
  letter-spacing: -0.3px;
  left: -4px;
  height: 117px;
  position: absolute;
  top: -34px;
  width: 583px;
}

.title-create-user {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  top: -140px;
}

@media (max-width: 1700px) {
  .content-button-create-user {
    margin-left: -278px;
    top: -5px;
  }
  .subtitle-create-user-2 {
    top: 128px;
  }
  .subtitle-create-user {
    top: -58px;
  }
}
