@import "../../../Styles/_common.scss";
@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,700;1,600&family=Montserrat:wght@400;500;600;700&family=Nunito+Sans:wght@300;600;800&display=swap");

.card-exam {
  cursor: pointer;
  height: 100px;
  width: 290px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  transition: all 0.25s;
  background: white;
  position: relative;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.card-exam:hover {
  transform: translateY(-2px);
  box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}
.text-card-exam {
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: $Black-tertiary;
  position: relative;
  left: 54px;
  top: 19px;
  margin-bottom: 40px;
}

.without-checking {
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  left: 64px;
  bottom: 10px;
  letter-spacing: 0.15px;
  color: #828282;
}
.waiting-for-results {
  font-family: "Verdana";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  position: relative;
  left: 64px;
  bottom: 10px;
  letter-spacing: 0.15px;
  color: #f2994a;
}
.to-check {
  font-family: "Verdana";
  position: relative;
  left: 64px;
  bottom: 10px;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.15px;
  color: #2d9cdb;
}
.reviewed {
  position: relative;
  left: 64px;
  bottom: 10px;
  font-size: 16px;
  font-family: "Verdana";
  font-weight: 400;
  color: #219653;
}
