@import "../../Styles/_common.scss";

.content-header {
  background: $Background-white;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.12);
  position: absolute;
  bottom: 0%;
  display: flex;
  height: 90px;
  left: 0%;
  right: 0%;
  top: 0%;
  width: 100%;
}

.size-logo {
  width: 207px;
  height: 21px;
  position: absolute;
  left: 14.83%;
  right: 73.18%;
  top: 39.94%;
  bottom: 38.18%;
}

.Logo-img {
  width: 74px;
  position: relative;
  top: -40px;
  right: 80px;
}
